<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjjn.dao.RolesjMapper" >
  <resultMap id="BaseResultMap" type="com.gjjn.dao.entity.Rolesj" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="needjy" property="needjy" jdbcType="INTEGER" />
    <result column="needwz" property="needwz" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, needjy, needwz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work_rolesj
    where id = #{id,jdbcType=INTEGER}
  </select><select id="getAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from work_rolesj
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_rolesj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gjjn.dao.entity.Rolesj" >
    insert into work_rolesj (id, needjy, needwz
      )
    values (#{id,jdbcType=INTEGER}, #{needjy,jdbcType=INTEGER}, #{needwz,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gjjn.dao.entity.Rolesj" >
    insert into work_rolesj
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="needjy != null" >
        needjy,
      </if>
      <if test="needwz != null" >
        needwz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="needjy != null" >
        #{needjy,jdbcType=INTEGER},
      </if>
      <if test="needwz != null" >
        #{needwz,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gjjn.dao.entity.Rolesj" >
    update work_rolesj
    <set >
      <if test="needjy != null" >
        needjy = #{needjy,jdbcType=INTEGER},
      </if>
      <if test="needwz != null" >
        needwz = #{needwz,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gjjn.dao.entity.Rolesj" >
    update work_rolesj
    set needjy = #{needjy,jdbcType=INTEGER},
      needwz = #{needwz,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>