<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.dao.GameMapMapper">
  <resultMap id="BaseResultMap" type="com.mochen.model.GameMap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="place" jdbcType="INTEGER" property="place" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="zdl" jdbcType="INTEGER" property="zdl" />
    <result column="zhgjy" jdbcType="INTEGER" property="zhgjy" />
    <result column="jnjy" jdbcType="INTEGER" property="jnjy" />
    <result column="wz" jdbcType="INTEGER" property="wz" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label, place, point, zdl, zhgjy, jnjy, wz
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_map
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_map
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mochen.model.GameMap">
    insert into work_map (id, label, place, 
      point, zdl, zhgjy, 
      jnjy, wz)
    values (#{id,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{place,jdbcType=INTEGER}, 
      #{point,jdbcType=INTEGER}, #{zdl,jdbcType=INTEGER}, #{zhgjy,jdbcType=INTEGER}, 
      #{jnjy,jdbcType=INTEGER}, #{wz,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mochen.model.GameMap">
    insert into work_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="zdl != null">
        zdl,
      </if>
      <if test="zhgjy != null">
        zhgjy,
      </if>
      <if test="jnjy != null">
        jnjy,
      </if>
      <if test="wz != null">
        wz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="zdl != null">
        #{zdl,jdbcType=INTEGER},
      </if>
      <if test="zhgjy != null">
        #{zhgjy,jdbcType=INTEGER},
      </if>
      <if test="jnjy != null">
        #{jnjy,jdbcType=INTEGER},
      </if>
      <if test="wz != null">
        #{wz,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mochen.model.GameMap">
    update work_map
    <set>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=INTEGER},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="zdl != null">
        zdl = #{zdl,jdbcType=INTEGER},
      </if>
      <if test="zhgjy != null">
        zhgjy = #{zhgjy,jdbcType=INTEGER},
      </if>
      <if test="jnjy != null">
        jnjy = #{jnjy,jdbcType=INTEGER},
      </if>
      <if test="wz != null">
        wz = #{wz,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mochen.model.GameMap">
    update work_map
    set label = #{label,jdbcType=VARCHAR},
      place = #{place,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      zdl = #{zdl,jdbcType=INTEGER},
      zhgjy = #{zhgjy,jdbcType=INTEGER},
      jnjy = #{jnjy,jdbcType=INTEGER},
      wz = #{wz,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>