<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.dao.JianniangSJMapper">
  <resultMap id="BaseResultMap" type="com.mochen.model.JianniangSJ">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="needjy" jdbcType="INTEGER" property="needjy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, needjy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_jianniangsj
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_jianniangsj
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mochen.model.JianniangSJ">
    insert into work_jianniangsj (id, needjy)
    values (#{id,jdbcType=INTEGER}, #{needjy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mochen.model.JianniangSJ">
    insert into work_jianniangsj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="needjy != null">
        needjy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="needjy != null">
        #{needjy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mochen.model.JianniangSJ">
    update work_jianniangsj
    <set>
      <if test="needjy != null">
        needjy = #{needjy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mochen.model.JianniangSJ">
    update work_jianniangsj
    set needjy = #{needjy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>