<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.dao.KeyanMapper">
  <resultMap id="BaseResultMap" type="com.mochen.model.Keyan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gjdj" jdbcType="INTEGER" property="gjdj" />
    <result column="fydj" jdbcType="INTEGER" property="fydj" />
    <result column="xldj" jdbcType="INTEGER" property="xldj" />
    <result column="sddj" jdbcType="INTEGER" property="sddj" />
    <result column="bjdj" jdbcType="INTEGER" property="bjdj" />
    <result column="dbdj" jdbcType="INTEGER" property="dbdj" />
    <result column="gjjy" jdbcType="INTEGER" property="gjjy" />
    <result column="fyjy" jdbcType="INTEGER" property="fyjy" />
    <result column="xljy" jdbcType="INTEGER" property="xljy" />
    <result column="sdjy" jdbcType="INTEGER" property="sdjy" />
    <result column="bjjy" jdbcType="INTEGER" property="bjjy" />
    <result column="dbjy" jdbcType="INTEGER" property="dbjy" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gjdj, fydj, xldj, sddj, bjdj, dbdj, gjjy, fyjy, xljy, sdjy, bjjy, dbjy, role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_keyan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_keyan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mochen.model.Keyan">
    insert into work_keyan (id, gjdj, fydj, 
      xldj, sddj, bjdj, dbdj, 
      gjjy, fyjy, xljy, sdjy, 
      bjjy, dbjy, role_id)
    values (#{id,jdbcType=INTEGER}, #{gjdj,jdbcType=INTEGER}, #{fydj,jdbcType=INTEGER}, 
      #{xldj,jdbcType=INTEGER}, #{sddj,jdbcType=INTEGER}, #{bjdj,jdbcType=INTEGER}, #{dbdj,jdbcType=INTEGER}, 
      #{gjjy,jdbcType=INTEGER}, #{fyjy,jdbcType=INTEGER}, #{xljy,jdbcType=INTEGER}, #{sdjy,jdbcType=INTEGER}, 
      #{bjjy,jdbcType=INTEGER}, #{dbjy,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mochen.model.Keyan">
    insert into work_keyan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gjdj != null">
        gjdj,
      </if>
      <if test="fydj != null">
        fydj,
      </if>
      <if test="xldj != null">
        xldj,
      </if>
      <if test="sddj != null">
        sddj,
      </if>
      <if test="bjdj != null">
        bjdj,
      </if>
      <if test="dbdj != null">
        dbdj,
      </if>
      <if test="gjjy != null">
        gjjy,
      </if>
      <if test="fyjy != null">
        fyjy,
      </if>
      <if test="xljy != null">
        xljy,
      </if>
      <if test="sdjy != null">
        sdjy,
      </if>
      <if test="bjjy != null">
        bjjy,
      </if>
      <if test="dbjy != null">
        dbjy,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gjdj != null">
        #{gjdj,jdbcType=INTEGER},
      </if>
      <if test="fydj != null">
        #{fydj,jdbcType=INTEGER},
      </if>
      <if test="xldj != null">
        #{xldj,jdbcType=INTEGER},
      </if>
      <if test="sddj != null">
        #{sddj,jdbcType=INTEGER},
      </if>
      <if test="bjdj != null">
        #{bjdj,jdbcType=INTEGER},
      </if>
      <if test="dbdj != null">
        #{dbdj,jdbcType=INTEGER},
      </if>
      <if test="gjjy != null">
        #{gjjy,jdbcType=INTEGER},
      </if>
      <if test="fyjy != null">
        #{fyjy,jdbcType=INTEGER},
      </if>
      <if test="xljy != null">
        #{xljy,jdbcType=INTEGER},
      </if>
      <if test="sdjy != null">
        #{sdjy,jdbcType=INTEGER},
      </if>
      <if test="bjjy != null">
        #{bjjy,jdbcType=INTEGER},
      </if>
      <if test="dbjy != null">
        #{dbjy,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mochen.model.Keyan">
    update work_keyan
    <set>
      <if test="gjdj != null">
        gjdj = #{gjdj,jdbcType=INTEGER},
      </if>
      <if test="fydj != null">
        fydj = #{fydj,jdbcType=INTEGER},
      </if>
      <if test="xldj != null">
        xldj = #{xldj,jdbcType=INTEGER},
      </if>
      <if test="sddj != null">
        sddj = #{sddj,jdbcType=INTEGER},
      </if>
      <if test="bjdj != null">
        bjdj = #{bjdj,jdbcType=INTEGER},
      </if>
      <if test="dbdj != null">
        dbdj = #{dbdj,jdbcType=INTEGER},
      </if>
      <if test="gjjy != null">
        gjjy = #{gjjy,jdbcType=INTEGER},
      </if>
      <if test="fyjy != null">
        fyjy = #{fyjy,jdbcType=INTEGER},
      </if>
      <if test="xljy != null">
        xljy = #{xljy,jdbcType=INTEGER},
      </if>
      <if test="sdjy != null">
        sdjy = #{sdjy,jdbcType=INTEGER},
      </if>
      <if test="bjjy != null">
        bjjy = #{bjjy,jdbcType=INTEGER},
      </if>
      <if test="dbjy != null">
        dbjy = #{dbjy,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mochen.model.Keyan">
    update work_keyan
    set gjdj = #{gjdj,jdbcType=INTEGER},
      fydj = #{fydj,jdbcType=INTEGER},
      xldj = #{xldj,jdbcType=INTEGER},
      sddj = #{sddj,jdbcType=INTEGER},
      bjdj = #{bjdj,jdbcType=INTEGER},
      dbdj = #{dbdj,jdbcType=INTEGER},
      gjjy = #{gjjy,jdbcType=INTEGER},
      fyjy = #{fyjy,jdbcType=INTEGER},
      xljy = #{xljy,jdbcType=INTEGER},
      sdjy = #{sdjy,jdbcType=INTEGER},
      bjjy = #{bjjy,jdbcType=INTEGER},
      dbjy = #{dbjy,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>