<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.mochen.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="zuanshi" jdbcType="INTEGER" property="zuanshi" />
    <result column="mofang" jdbcType="INTEGER" property="mofang" />
    <result column="guajitime" jdbcType="TIMESTAMP" property="guajitime" />
    <result column="shiyou" jdbcType="INTEGER" property="shiyou" />
    <result column="qdts" jdbcType="INTEGER" property="qdts" />
    <result column="qdsj" jdbcType="TIMESTAMP" property="qdsj" />
    <result column="djsx" jdbcType="INTEGER" property="djsx" />
    <result column="guajimap_id" jdbcType="INTEGER" property="guajimapId" />
    <result column="junxian_id" jdbcType="INTEGER" property="junxianId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="keyandian" jdbcType="INTEGER" property="keyandian" />
    <result column="wuzi" jdbcType="INTEGER" property="wuzi" />
    <result column="openmap_id" jdbcType="INTEGER" property="openmapId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mochen.model.Role">
    <result column="touxiang" jdbcType="LONGVARCHAR" property="touxiang" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rolename, level, exp, zuanshi, mofang, guajitime, shiyou, qdts, qdsj, djsx, guajimap_id, 
    junxian_id, user_id, keyandian, wuzi, openmap_id
  </sql>
  <sql id="Blob_Column_List">
    touxiang
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from work_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByUserId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from work_role
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mochen.model.Role">
    insert into work_role (id, rolename, level, 
      exp, zuanshi, mofang, 
      guajitime, shiyou, qdts, 
      qdsj, djsx, guajimap_id, 
      junxian_id, user_id, keyandian, 
      wuzi, openmap_id, touxiang
      )
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{exp,jdbcType=INTEGER}, #{zuanshi,jdbcType=INTEGER}, #{mofang,jdbcType=INTEGER}, 
      #{guajitime,jdbcType=TIMESTAMP}, #{shiyou,jdbcType=INTEGER}, #{qdts,jdbcType=INTEGER}, 
      #{qdsj,jdbcType=TIMESTAMP}, #{djsx,jdbcType=INTEGER}, #{guajimapId,jdbcType=INTEGER}, 
      #{junxianId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{keyandian,jdbcType=INTEGER}, 
      #{wuzi,jdbcType=INTEGER}, #{openmapId,jdbcType=INTEGER}, #{touxiang,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mochen.model.Role" useGeneratedKeys="true" keyProperty="id">
    insert into work_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="zuanshi != null">
        zuanshi,
      </if>
      <if test="mofang != null">
        mofang,
      </if>
      <if test="guajitime != null">
        guajitime,
      </if>
      <if test="shiyou != null">
        shiyou,
      </if>
      <if test="qdts != null">
        qdts,
      </if>
      <if test="qdsj != null">
        qdsj,
      </if>
      <if test="djsx != null">
        djsx,
      </if>
      <if test="guajimapId != null">
        guajimap_id,
      </if>
      <if test="junxianId != null">
        junxian_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="keyandian != null">
        keyandian,
      </if>
      <if test="wuzi != null">
        wuzi,
      </if>
      <if test="openmapId != null">
        openmap_id,
      </if>
      <if test="touxiang != null">
        touxiang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="zuanshi != null">
        #{zuanshi,jdbcType=INTEGER},
      </if>
      <if test="mofang != null">
        #{mofang,jdbcType=INTEGER},
      </if>
      <if test="guajitime != null">
        #{guajitime,jdbcType=TIMESTAMP},
      </if>
      <if test="shiyou != null">
        #{shiyou,jdbcType=INTEGER},
      </if>
      <if test="qdts != null">
        #{qdts,jdbcType=INTEGER},
      </if>
      <if test="qdsj != null">
        #{qdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="djsx != null">
        #{djsx,jdbcType=INTEGER},
      </if>
      <if test="guajimapId != null">
        #{guajimapId,jdbcType=INTEGER},
      </if>
      <if test="junxianId != null">
        #{junxianId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="keyandian != null">
        #{keyandian,jdbcType=INTEGER},
      </if>
      <if test="wuzi != null">
        #{wuzi,jdbcType=INTEGER},
      </if>
      <if test="openmapId != null">
        #{openmapId,jdbcType=INTEGER},
      </if>
      <if test="touxiang != null">
        #{touxiang,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mochen.model.Role">
    update work_role
    <set>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="zuanshi != null">
        zuanshi = #{zuanshi,jdbcType=INTEGER},
      </if>
      <if test="mofang != null">
        mofang = #{mofang,jdbcType=INTEGER},
      </if>
      <if test="guajitime != null">
        guajitime = #{guajitime,jdbcType=TIMESTAMP},
      </if>
      <if test="shiyou != null">
        shiyou = #{shiyou,jdbcType=INTEGER},
      </if>
      <if test="qdts != null">
        qdts = #{qdts,jdbcType=INTEGER},
      </if>
      <if test="qdsj != null">
        qdsj = #{qdsj,jdbcType=TIMESTAMP},
      </if>
      <if test="djsx != null">
        djsx = #{djsx,jdbcType=INTEGER},
      </if>
      <if test="guajimapId != null">
        guajimap_id = #{guajimapId,jdbcType=INTEGER},
      </if>
      <if test="junxianId != null">
        junxian_id = #{junxianId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="keyandian != null">
        keyandian = #{keyandian,jdbcType=INTEGER},
      </if>
      <if test="wuzi != null">
        wuzi = #{wuzi,jdbcType=INTEGER},
      </if>
      <if test="openmapId != null">
        openmap_id = #{openmapId,jdbcType=INTEGER},
      </if>
      <if test="touxiang != null">
        touxiang = #{touxiang,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mochen.model.Role">
    update work_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      zuanshi = #{zuanshi,jdbcType=INTEGER},
      mofang = #{mofang,jdbcType=INTEGER},
      guajitime = #{guajitime,jdbcType=TIMESTAMP},
      shiyou = #{shiyou,jdbcType=INTEGER},
      qdts = #{qdts,jdbcType=INTEGER},
      qdsj = #{qdsj,jdbcType=TIMESTAMP},
      djsx = #{djsx,jdbcType=INTEGER},
      guajimap_id = #{guajimapId,jdbcType=INTEGER},
      junxian_id = #{junxianId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      keyandian = #{keyandian,jdbcType=INTEGER},
      wuzi = #{wuzi,jdbcType=INTEGER},
      openmap_id = #{openmapId,jdbcType=INTEGER},
      touxiang = #{touxiang,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mochen.model.Role">
    update work_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      zuanshi = #{zuanshi,jdbcType=INTEGER},
      mofang = #{mofang,jdbcType=INTEGER},
      guajitime = #{guajitime,jdbcType=TIMESTAMP},
      shiyou = #{shiyou,jdbcType=INTEGER},
      qdts = #{qdts,jdbcType=INTEGER},
      qdsj = #{qdsj,jdbcType=TIMESTAMP},
      djsx = #{djsx,jdbcType=INTEGER},
      guajimap_id = #{guajimapId,jdbcType=INTEGER},
      junxian_id = #{junxianId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      keyandian = #{keyandian,jdbcType=INTEGER},
      wuzi = #{wuzi,jdbcType=INTEGER},
      openmap_id = #{openmapId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="mapBossUpdate" >
    update work_role
    set level = #{level,jdbcType=INTEGER},
      exp = #{exp,jdbcType=INTEGER},
      <if test="isOpen">
      	openmap_id = openmap_id+1,
      </if>
      shiyou = shiyou - #{count,jdbcType=INTEGER},
      keyandian = keyandian + #{count,jdbcType=INTEGER},
      wuzi = wuzi + #{wz,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="jianzaoUpdate" >
    update work_role
    set wuzi = wuzi - #{wuzi,jdbcType=INTEGER},
    mofang = mofang - #{mofang,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="phbMap" type="com.mochen.model.PhbInfo">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="tx" jdbcType="VARCHAR" property="tx" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="color" jdbcType="VARCHAR" property="color" />
  </resultMap>
  <select id="djPhb" resultMap="phbMap">
  	select rolename name, touxiang tx, level num from work_role order by `level` desc limit 50
  </select>
  <select id="zdlPhb" resultMap="phbMap">
  	select r.rolename name, r.touxiang tx, d.totalzdl num from work_role r
	inner join work_duiwu d on r.id = d.role_id
	order by d.totalzdl desc limit 50;
  </select>
  <select id="tjPhb" resultMap="phbMap">
  	select r.rolename name, r.touxiang tx, count(*) num from work_role r
	inner join work_myjianniang m on r.id = m.role_id
	GROUP BY m.role_id order by num desc limit 50;
  </select>
  <select id="jnPhb" resultMap="phbMap">
  	select m.name name, m.touxiang tx, m.zdl num, m.color color, r.rolename label from work_myjianniang m
	inner join work_role r on m.role_id = r.id
	order by m.zdl desc limit 100;
  </select>
  <update id="updateRoleByChangeDetail">
  update work_role set
  	<if test="zuanshiChange != null">
  	 zuanshi = zuanshi + #{zuanshiChange},
  	</if>
  	<if test="mofangChange != null">
  		mofang = mofang + #{mofangChange},
  	</if>
  	<if test="shiyouChange != null">
  		shiyou = shiyou + #{shiyouChange},
  	</if>
  	<if test="keyandianChange != null">
  		keyandian = keyandian + #{keyandianChange},
  	</if>
  	<if test="wuziChange != null">
  		wuzi = wuzi + #{wuziChange},
  	</if>
  	where id = #{id}
  </update>
</mapper>