<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochen.dao.SuipianMapper">
  <resultMap id="BaseResultMap" type="com.mochen.model.Suipian">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="jn_id" jdbcType="INTEGER" property="jnId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pinji" jdbcType="INTEGER" property="pinji" />
    <result column="touxiang" jdbcType="VARCHAR" property="touxiang" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="spnum" jdbcType="INTEGER" property="spnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, num, jn_id, role_id, name, pinji, touxiang, color, spnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_suipian
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getRoleBl" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_suipian
    where role_id = #{roleId,jdbcType=INTEGER} and jn_id &lt; 3 order by jn_id asc
  </select>
  <select id="getAllUserSps" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from work_suipian where role_id = #{role_id,jdbcType=INTEGER} and jn_id &lt; 3 union  
	select * from work_suipian where role_id = #{role_id,jdbcType=INTEGER} and jn_id &gt; 2 and  num &gt; 0 order by pinji desc,num desc,jn_id asc;
  </select>
  <select id="getUserSps" resultMap="BaseResultMap">
    SELECT * FROM work_suipian where id = #{id,jdbcType=INTEGER} union 
	SELECT * FROM work_suipian where role_id = #{roleId,jdbcType=INTEGER} and jn_id &lt; 3 ORDER BY jn_id asc
  </select>
  <select id="getSpByJnId" resultMap="BaseResultMap">
    SELECT * FROM work_suipian where jn_id = #{jnId,jdbcType=INTEGER} union 
	SELECT * FROM work_suipian where role_id = #{roleId,jdbcType=INTEGER} and jn_id &lt; 3 ORDER BY jn_id asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_suipian
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mochen.model.Suipian">
    insert into work_suipian (num, jn_id, 
      role_id, name, pinji, 
      touxiang, color, spnum
      )
    values (#{num,jdbcType=INTEGER}, #{jnId,jdbcType=INTEGER}, 
      #{roleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pinji,jdbcType=INTEGER}, 
      #{touxiang,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{spnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="batchSave" parameterType="java.util.List">
  	insert into work_suipian (num, jn_id, 
      role_id, name, pinji, 
      touxiang, color, spnum)
    values
  	<foreach collection="list" item="i" separator=",">
  		(#{i.num,jdbcType=INTEGER}, #{i.jnId,jdbcType=INTEGER}, 
      #{i.roleId,jdbcType=INTEGER}, #{i.name,jdbcType=VARCHAR}, #{i.pinji,jdbcType=INTEGER}, 
      #{i.touxiang,jdbcType=VARCHAR}, #{i.color,jdbcType=VARCHAR}, #{i.spnum,jdbcType=INTEGER})
  	</foreach>
     ON DUPLICATE KEY UPDATE num = num + values(num)
  </insert>
  <insert id="insertSelective" parameterType="com.mochen.model.Suipian">
    insert into work_suipian
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="jnId != null">
        jn_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pinji != null">
        pinji,
      </if>
      <if test="touxiang != null">
        touxiang,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="spnum != null">
        spnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="jnId != null">
        #{jnId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinji != null">
        #{pinji,jdbcType=INTEGER},
      </if>
      <if test="touxiang != null">
        #{touxiang,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="spnum != null">
        #{spnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mochen.model.Suipian">
    update work_suipian
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="jnId != null">
        jn_id = #{jnId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinji != null">
        pinji = #{pinji,jdbcType=INTEGER},
      </if>
      <if test="touxiang != null">
        touxiang = #{touxiang,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="spnum != null">
        spnum = #{spnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mochen.model.Suipian">
    update work_suipian
    set num = #{num,jdbcType=INTEGER},
      jn_id = #{jnId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      pinji = #{pinji,jdbcType=INTEGER},
      touxiang = #{touxiang,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      spnum = #{spnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="batchUpdate">
  	<foreach collection="list" item="i" separator=";">
    update work_suipian
    set num = #{i.num,jdbcType=INTEGER}
    where id = #{i.id,jdbcType=INTEGER}
  	</foreach>
  </update>
  <select id="saleSuipianExist" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select sum((pinji+1)*num) from work_suipian where role_id = #{roleId,jdbcType=INTEGER} and num &gt; 0 and pinji &lt; 7 and jn_id not in (select jn_id from work_myjianniang where role_id = #{roleId,jdbcType=INTEGER});
  	update work_suipian set num = 0 where role_id = #{roleId,jdbcType=INTEGER} and pinji &lt; 7;
  </select>
  <select id="saleSuipianFull" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select sum((pinji+1)*num) from work_suipian where role_id = #{roleId,jdbcType=INTEGER} and num &gt; 0 and pinji &lt; 7 and jn_id in(
	select m.jn_id from work_myjianniang m
	inner join work_jianniang j on m.jn_id = j.id
	where m.role_id = #{roleId,jdbcType=INTEGER} and m.pinji &lt; 7 and m.star - j.star = 3);
	update work_suipian s
	inner join work_myjianniang m on s.jn_id = m.jn_id and s.role_id = m.role_id and m.pinji &lt; 7
	inner join work_jianniang j on m.jn_id = j.id and m.star -j.star = 3
	set s.num = 0
	where m.role_id = #{roleId,jdbcType=INTEGER};
  </select>
</mapper>