<!DOCTYPE html>
<html>
<head>
	<title>挂机舰娘最新改动</title>
	<style type="text/css">
		img{
			width: 60px;
			height: 60px;
		}
	</style>
</head>
<body>
<center><h1>挂机舰娘游戏网址<a href="http://gjjn.xyz">http://gjjn.xyz</a></h1>  <a href="https://pan.baidu.com/s/1bz8oxh46B5RofDGxFlWCNw">下载App</a></center>
<h2>2018年9月10日</h2>
<p>
1.开放新的等级上限。<br/>
2.开放新的科研上限。<br/>
3.菜单页面新增【出售满破碎片】按钮，可一键出售全部橙色及以下满破舰娘的碎片。<br/>
4.菜单页面新增【一键出售碎片】按钮，可一键出售全部橙色及以下已拥有舰娘的碎片。<br/>
</p>
<hr>
<h2>2018年9月9日</h2>
<p><h3>挂机舰娘与《Fate/Grand Order》联动开启！！！</h3><br/>
英灵现身，遵从召唤而来，你就是我的Master吗？此身为舰，即刻出发。<br/>
新增限时Up：限时期间新增角色概率Up（10%）<br/>
为庆祝联动及开服3个月奖励：钻石：99 石油：999 魔方：9999 物资：999999<br/>
感谢大家长期以来的陪伴，你们的支持是我前进的动力~
</p>
<hr>
<h2>2018年8月25日</h2>
<p><h3>挂机舰娘与《slow start》联动开启！！！</h3><br/>
新增舰娘：<img src="http://159.65.190.45/tp/gjjn/tx/4/qsg.jpg" >、<img src="http://159.65.190.45/tp/gjjn/tx/4/scryz.jpg" >、<img src="http://159.65.190.45/tp/gjjn/tx/4/yzlhm.jpg" >、<img src="http://159.65.190.45/tp/gjjn/tx/4/bdys.jpg" ><br/>
新增限时Up：限时期间点兔角色概率Up（10%）<br/>
为庆祝联动奖励：魔方8000<br/>
同步碧蓝航线资源，新增舰娘：22娘、33娘、U-557、让·巴尔、勒马尔、福尔班、凯旋、敦刻尔克、埃米尔·贝尔汀、马萨诸塞、絮库夫、半人马、布什<br/>
</p>
<hr>
<h2>2018年8月14日</h2>
<p><h3>挂机舰娘与《请问您今天要来点兔子吗》联动开启！！！</h3><br/>
新增舰娘：<img src="http://159.65.190.45/tp/gjjn/tx/3/xfzntx.jpg"/>、<img src="http://159.65.190.45/tp/gjjn/tx/3/bdxatx.jpg"/>、<img src="http://159.65.190.45/tp/gjjn/tx/3/ttzlstx.jpg"/>、<img src="http://159.65.190.45/tp/gjjn/tx/3/yzsqytx.jpg"/>、<img src="http://159.65.190.45/tp/gjjn/tx/3/jtsltx.jpg"/>、<img src="http://159.65.190.45/tp/gjjn/tx/3/njhtx.jpg" />、<img src="http://159.65.190.45/tp/gjjn/tx/3/thmytx.jpg"/><br/>
新增限时Up：限时期间点兔角色概率Up（10%）<br/>
为庆祝联动及开服2周月：魔方8000，物资50000<br/>
感谢@Miyano提供的图片资源，额外奖励：魔方5000<br/>
感谢@珂朵莉提供的资金支持，额外奖励：魔方5000<br/>
感谢@你猜62天来的不离不弃，额外奖励：魔方5000<br/>
</p>
<hr>
<h2>2018年8月4日</h2>
<p>新增舰娘<img src="http://159.65.190.45/tp/gjjn/tx/2/kntx.jpg">、<img src="http://159.65.190.45/tp/gjjn/tx/2/tetx.jpg">、<img src="http://159.65.190.45/tp/gjjn/tx/2/hqswtx.jpg"></p>
<hr>
<h2>2018年8月2日</h2>
<p>1.优化限时建造和高级建造流程。<br/>2.优化碎片出售流程：金色及以下可以直接出售。<br/>3.新增：20个紫布里兑换一个金布里。</p>
<hr>
<h2>2018年7月26日</h2>
<p>新增：舰娘排行榜，查看舰娘排名</p>
<hr>
<h2>2018年7月26日</h2>
<p>居然有人说四糸乃我不给力，那就让你们看看真正的力量吧。<br/>新增：四糸乃红卡计划</p>
<hr>
<h2>2018年7月25日</h2>
<p><h3>挂机舰娘与《恶魔高校h翻天》联动开启！！！</h3><br/>
新增舰娘：<img src="http://159.65.190.45/tp/gjjn/tx/1/lystx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/axytx.jpg" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/jdzntx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/tcxmtx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/jnwtx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/ztylntx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/jsptx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/lswstx.png" width="60px" height="60px" />、<img src="http://159.65.190.45/tp/gjjn/tx/1/lwetx.png" width="60px" height="60px" /><br/>
新增限时Up：限时期间恶魔高校角色概率Up（10%）<br/>
为庆祝联动：奖励钻石99，魔方3000，物资50000<br/>
</p>
<hr>
<h2>2018年7月22日</h2>
<p>新增：查看还未获得的舰娘的功能。</p>
<hr>
<h2>2018年7月18日</h2>
<p><h3>挂机舰娘与《从某科学的超电磁炮联动开启！！！》</h3><br/>
新增舰娘：Lv5御坂美琴<img src="http://159.65.190.45/tp/gjjn/tx/ybmq_tx.jpg" width="60px" height="60px" />、Lv4白井黑子<img src="http://159.65.190.45/tp/gjjn/tx/bjhz_tx.jpg" width="60px" height="60px" />、Lv3最后之作<img src="http://159.65.190.45/tp/gjjn/tx/zhzz_tx.jpg" width="60px" height="60px" />、Lv1初春饰利<img src="http://159.65.190.45/tp/gjjn/tx/ccsl_tx.jpg" width="60px" height="60px" />、Lv0佐天泪子<img src="http://159.65.190.45/tp/gjjn/tx/ztlz_tx.jpg" width="60px" height="60px" /><br/>
新增限时Up：限时期间新增角色概率Up（10%）<br/>
奖励：魔方3000，物资80000<br/>
</p>
<hr>
<h2>2018年7月13日</h2>
<p>新增：开放指挥官等级上限至170级。</p>
<hr>
<h2>2018年7月12日</h2>
<p>新增：魔方出售功能，1000魔方可以兑换16W物资。<br/>新增：魔方购买功能，20W物资购买1000魔方。</p>
<hr>
<h2>2018年7月11日</h2>
<p><h3>挂机舰娘与《从零开始的异世界生活联动》开启！！！</h3><br/>
新增舰娘：<img src="https://s1.ax1x.com/2018/07/11/PuaVv8.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/10/5b44d2658cf80.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/10/5b44d265886fa.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/10/5b44d2657ab44.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/10/5b44d26580d18.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/10/5b44d265984e2.jpg" width="60px" height="60px" /><br/>
新增限时Up：限时期间约战角色概率Up（7%）<br/>
服务器迁移地址更换<br/>
代码升级优化，游戏更加流畅（ps：手机玩家若数据不准确，则点击下方的按钮即可刷新对应页面数据）<br/>
满级船获得经验将转移10%至未满级船（ps：5条满级船带新船单次出击新船获得的经验将是以前的9倍）<br/>
为庆祝联动及开服一周月：奖励钻石99，魔方5000，物资20W<br/>
</p>
<hr>
<h2>2018年7月10日</h2>
<p>新增：Boss战所有战利品均随上阵舰娘数增加，为了各位指挥官的健康，请不要再单船练级！请不要再单船练级！！请不要再单船练级！！！</p>
<hr>
<h2>2018年7月9日</h2>
<p>修复：挂机时间计算不正确的bug,挂机时长最长为24小时</p>
<hr>
<h2>2018年7月5日</h2>
<p>签到福利增加：签到获取的碎片数随签到天数随机增加<br/>优化普通建造流程</p>
<hr>
<h2>2018年7月4日</h2>
<p><h3>挂机舰娘与《约会大作战》联动开启！！！</h3><br/>
新增舰娘：<img src="https://i.loli.net/2018/07/04/5b3cb62d863f4.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cb6b4df43f.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cb74f4863d.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cb9b4b78b8.png" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cba779b91a.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cbabc4860d.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cbb171320c.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cbbe0921ef.jpg" width="60px" height="60px" />、<img src="https://i.loli.net/2018/07/04/5b3cbc70dd0b3.jpg" width="60px" height="60px" /><br/>
新增限时Up：限时期间约战角色概率Up（10%）<br/>
为庆祝联动：奖励钻石99，魔方3000<br/>
</p>

</body>
</html>