<!DOCTYPE html>
<html>
<head>
	<title>all jn</title>
</head>
<body>
{% for one in jn%}
<div>
	<div style="float: left"><img src="{{ one.touxiang }}" width="112px" height="112px"><br>
		{% if one.pinji == 0 %}
		{{one.name}}<br>
		{% elif one.pinji == 1 %}
		<font color="blue">{{one.name}}</font><br>
		{% elif one.pinji == 2 %}
		<font color="violet">{{one.name}}</font><br>
		{% elif one.pinji == 3 %}
		<font color="gold">{{one.name}}</font><br>
		{% elif one.pinji == 4 %}
		<font color="orange">{{one.name}}</font><br>
		{% elif one.pinji == 5 %}
		<font color="deeppink">{{one.name}}</font><br>
		{% else %}
		<font color="red">{{one.name}}</font><br>
		{% endif %}
		攻击：{{one.gongji}}<br>
		防御：{{one.fangyu}}<br>
		血量：{{one.xueliang}}<br>
		速度：{{one.sudu}}<br>
		暴击：{{one.baoji}}<br>
		躲避：{{one.duobi}}<br>
	</div>
	<div style="float: left"><img src="{{one.lihui}}" width="320px" height="450px"></div>
</div>
{% endfor %}
</body>
</html>